<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
  </head>
  <body ng-app='userAuth'>

    <nav ng-controller='navCtrl' class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">Angular</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a ui-sref='home'>Home</a></li>
            <li><a ui-sref='login'>Login</a></li>
            <li><a ui-sref='register'>Register</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show='username'>Hello {{username}}!</li>
            <li ng-show='username'>
              <button ng-click='logout()'
                      type="button"
                      class="btn btn-default navbar-btn">Log Out</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <ui-view></ui-view>
    </div>

  </body>
</html>
