<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
  </head>
  <body ng-app='userAuth'>

    <nav ng-controller='navCtrl' class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Angular</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <span ng-show='username'>
              <li>Hello {{username}}!</li>
              <li>
                <button type="button" class="btn btn-default navbar-btn">Log Out</button>
              </li>
            </span>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>

      <div ng-controller='testCtrl'>
        <button ng-click='test()'>Test!</button>      
      </div>


      <form name='registrationForm'
            ng-controller='registerCtrl'
            novalidate ng-submit='register(regUser)'>
        <h3>Register:</h3>
        <div>
          <label>Username:</label>
          <input type="text" ng-model='regUser.username'>
        </div>
        <div>
          <label>Password:</label>
          <input type="password" ng-model='regUser.password'>
        </div>
        <button>Register!</button>
      </form>

      <form name='loginForm'
            ng-controller='loginCtrl'
            novalidate ng-submit='login(loginUser)'>
        <h3>Login:</h3>
        <div>
          <label>Username:</label>
          <input type="text" ng-model='loginUser.username'>
        </div>
        <div>
          <label>Password:</label>
          <input type="password" ng-model='loginUser.password'>
        </div>
        <button>Login!</button>
      </form>
    </div>


  </body>
</html>
